<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.ac.sejong.mapper.trackAllMapper">
    <select id="trackAllList" resultType="kr.ac.sejong.web.dto.TrackAllViewDto" >
        set @trackId:=0;

        select
            @trackId:=trackId

            trackId,
            trackTitle,
            (select group_concat(ts.subjectTitle separator ', ')
                from tbl_track_subject as tts
                JOIN tbl_subject as ts
                ON tts.subjectId = ts.subjectId
                where subjectType = 1 and trackId = @trackId) as trackBasic,
            (select group_concat(ts.subjectTitle separator ', ')
                from tbl_track_subject as tts
                JOIN tbl_subject as ts
                ON tts.subjectId = ts.subjectId
                where subjectType = 2 and trackId = @trackId) as trackApplied,
            (select group_concat(ts.subjectTitle separator ', ')
                from tbl_track_subject as tts
                JOIN tbl_subject as ts
                ON tts.subjectId = ts.subjectId
                where subjectType = 3 and trackId = @trackId) as trackIndustry,
            (select group_concat(ts.subjectTitle separator ', ')
                from tbl_track_subject as tts
                JOIN tbl_subject as ts
                ON tts.subjectId = ts.subjectId
                where subjectType = 4 and trackId = @trackId) as trackExpert
        from
            tbl_track
        where univId = #{univId};
    </select>
</mapper>