<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.ac.sejong.mapper.TrackRuleMapper">
    <insert id="create">
        insert into tbl_rule (ruleId, trackId, basic, applied, industry)
        values (#{ruleId}, #{trackId}, #{basic}, #{applied}, #{industry})
    </insert>

    <select id="read" resultType="kr.ac.sejong.domain.ruleVO">
        select

          ruleId, trackId, basic, applied, industry
        from
          tbl_rule
        where ruleNo = #{ruleNo}
    </select>

    <update id="update">
        update tbl_rule set trackId=#{trackId}, ruleId=#{ruleId}, basic=#{basic}, applied=#{applied}, industry=#{industry}
        where ruleNo=#{ruleNo}
    </update>

    <delete id="delete">
        delete from tbl_rule where ruleNo = #{ruleNo}
    </delete>

    <select id="listAll" resultType="kr.ac.sejong.domain.ruleVO">
        <![CDATA[
        select tr.ruleNo, tu.univTitle, (select concat_ws(' - ', td.degreeTitle, tt.trackTitle)) as trackTitle, tr.ruleId, tr.basic, tr.applied, tr.industry
        from tbl_rule as tr
              JOIN tbl_track as tt ON tt.trackNo = tr.trackId
              JOIN tbl_univ as tu ON tt.univNO = tu.univNo
              JOIN tbl_degree as td ON tr.ruleId = td.degreeId
        order by trackId asc;
        ]]>
    </select>

    <select id="listSearch" resultType="kr.ac.sejong.domain.ruleVO">
        <![CDATA[
        select tr.ruleNo, tu.univTitle, tt.trackTitle, td.degreeTitle, tr.ruleId, tr.basic, tr.applied, tr.industry, tr.trackId
        from tbl_rule as tr
            JOIN tbl_track as tt ON tt.trackNo = tr.trackId
            JOIN tbl_univ as tu ON tt.univNO = tu.univNo
            JOIN tbl_degree as td ON tr.ruleId = td.degreeId
            and tt.univNo = #{univNo}
        order by trackId asc, trackTitle asc;
        ]]>
    </select>

    <insert id="aiInit">
        ALTER TABLE tbl_rule AUTO_INCREMENT=#{aiNo}
    </insert>

    <select id="degreeList" resultType="kr.ac.sejong.domain.degreeVO">
        select
          *
        from
          tbl_degree
        where degreeNo > 0
    </select>
</mapper>