<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.ac.sejong.mapper.trackAllMapper">
    <select id="trackAll" resultType="kr.ac.sejong.domain.trackAllVO">
        select
        trackNo,
        (select trackTitle from tbl_track where trackNo = 1) as trackTitle,
        (select group_concat(courseTitle separator ', ') from tbl_subject where subtype = 1 and trackNo = 1) as trackBasic,
        (select group_concat(courseTitle separator ', ') from tbl_subject where subtype = 2 and trackNo = 1) as trackApplied,
        (select group_concat(courseTitle separator ', ') from tbl_subject where subtype = 3 and trackNo = 1) as trackIndustry
        from
        tbl_subject
        where trackNo = 1
        GROUP BY trackNo;
    </select>
</mapper>