<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.ac.sejong.mapper.trackAllMapper">
    <select id="trackAllList" resultType="kr.ac.sejong.domain.trackAllVO" >
        set @trackNo:=0;

        select
          @trackNo:=trackNo

          trackNo,
          trackTitle,
          (select group_concat(courseTitle separator ', ') from tbl_subject where subtype = 1 and trackNo = @trackNo) as trackBasic,
          (select group_concat(courseTitle separator ', ') from tbl_subject where subtype = 2 and trackNo = @trackNo) as trackApplied,
          (select group_concat(courseTitle separator ', ') from tbl_subject where subtype = 3 and trackNo = @trackNo) as trackIndustry
        from
          tbl_track
        where univNo = #{univNo};
    </select>
</mapper>