<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.ac.sejong.mapper.uploadFormMapper">
    <select id="listTrack" resultType="kr.ac.sejong.domain.trackVO">
        <![CDATA[
        select
          *
        from
          tbl_track
        where univNo = #{univNo}
        ]]>
    </select>

    <select id="listUniv" resultType="kr.ac.sejong.domain.univVO">
        <![CDATA[
        select
          *
        from
          tbl_univ
        where univNo > 0
        ]]>
    </select>
</mapper>